.toolbar{
  padding: 0px;
  margin: 0px;
  background-color: mediumslateblue;

  .divider{
    flex: 1 1 0;
  }
}
.dashboard {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  .sidenav{
    width: 200px;
  }
  .main-content{
  }
}
