<div class="container">
  <h1>Enter client info</h1>
  <mat-divider></mat-divider>
  <br><br>
  <form [formGroup]="clientForm">
<!--    id-->
<!--    name-->
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input
        type="text"
        name="name"
        matInput
        formControlName="name"
        placeholder="name"
      />
      <mat-error *ngIf="name && name.invalid && name.touched">
        <span *ngIf="name.hasError('required')">
          name is required
        </span>
        <span *ngIf="name.hasError('minlength')">
          minimum 3 character required
        </span>
        <span *ngIf="name.hasError('maxlength')">
          maximum 20 character required
        </span>
      </mat-error>
    </mat-form-field>
    <br><br>
<!--    nid-->
    <mat-form-field appearance="fill">
      <mat-label>NID</mat-label>
      <input
        type="number"
        name="nid"
        matInput
        formControlName="nid"
        placeholder="nid"
      />
      <mat-error *ngIf="nid && nid.invalid && nid.touched">
        <span *ngIf="nid.hasError('required')">
          nid is required
        </span>
        <span *ngIf="nid.hasError('min')">
          minimum 5 digit required
        </span>
        <span *ngIf="nid.hasError('max')">
          maximum 10 digit required
        </span>
      </mat-error>
    </mat-form-field>
    <br><br>
<!--    address-->
    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input
        type="text"
        name="address"
        matInput
        formControlName="address"
        placeholder="address"
      />
      <mat-error *ngIf="address && address.invalid && address.touched">
        <span *ngIf="address.hasError('required')">
          address is required
        </span>
        <span *ngIf="address.hasError('minlength')">
          minimum 3 character required
        </span>
        <span *ngIf="address.hasError('maxlength')">
          maximum 20 character required
        </span>
      </mat-error>
    </mat-form-field>
    <br><br>
<!--    age-->
    <mat-form-field appearance="fill">
      <mat-label>Age</mat-label>
      <input
        type="number"
        name="age"
        matInput
        formControlName="age"
        placeholder="age"
      />
      <mat-error *ngIf="age && age.invalid && age.touched">
        <span *ngIf="age.hasError('required')">
          age is required
        </span>
        <span *ngIf="age.hasError('min')">
          minimum 18 years required
        </span>
        <span *ngIf="age.hasError('max')">
          maximum 150 years required
        </span>
      </mat-error>
    </mat-form-field>
    <br><br>
<!--    gender-->
    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <input
        type="text"
        name="gender"
        matInput
        formControlName="gender"
        placeholder="gender"
      />
      <mat-error *ngIf="gender && gender.invalid && gender.touched">
        <span *ngIf="gender.hasError('required')">
          gender is required
        </span>
        <span *ngIf="gender.hasError('minlength')">
          minimum 4 character required
        </span>
        <span *ngIf="gender.hasError('maxlength')">
          maximum 6 character required
        </span>
      </mat-error>
    </mat-form-field>
    <br><br>
<!--    email-->
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="email"
        name="email"
        matInput
        formControlName="email"
        placeholder="email"
      />
      <mat-error *ngIf="email && email.invalid && email.touched">
        <span *ngIf="email.hasError('required')">
          email is required
        </span>
        <span *ngIf="email.hasError('email')">
          invalid email
        </span>
      </mat-error>
    </mat-form-field>
    <br><br>
<!--    password-->
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        type="password"
        name="password"
        matInput
        formControlName="password"
        placeholder="password"
      />
      <mat-error *ngIf="password && password.invalid && password.touched">
        <span *ngIf="password.hasError('required')">
          password is required
        </span>
        <span *ngIf="password.hasError('minlength')">
          minimum 6 character required
        </span>
        <span *ngIf="password.hasError('maxlength')">
          maximum 10 character required
        </span>
      </mat-error>
    </mat-form-field>
    <br><br>
<!--    balance-->
    <mat-form-field appearance="fill">
      <mat-label>Initial balance</mat-label>
      <input
        type="number"
        name="balance"
        matInput
        formControlName="balance"
        placeholder="balance"
      />
      <mat-error *ngIf="balance && balance.invalid && balance.touched">
        <span *ngIf="balance.hasError('required')">
          initial balance is required
        </span>
        <span *ngIf="balance.hasError('min')">
          minimum 5000 Tk is required
        </span>
        <span *ngIf="balance.hasError('maximum')">
          maximum 100000000 Tk is required
        </span>
      </mat-error>
    </mat-form-field>
    <br><br>
<!--    create account button-->
    <button mat-raised-button
            (click)="onSubmit(clientForm.value)"
            [disabled]="clientForm.invalid"
            color="primary">Create Account</button>
  </form>
  <br><br>
</div>
