<div class="container" *ngIf="!isSubmitted">
  <h1>Enter your info</h1>
  <mat-divider></mat-divider>
  <br><br>
  <form [formGroup]="sendMoneyForm">
    <mat-vertical-stepper linear>
      <mat-step>
        <ng-template matStepLabel>
          Sender bank info
        </ng-template>
        <br>
<!--        nid-->
        <mat-form-field appearance="fill">
          <mat-label>Enter your bank account no</mat-label>
          <input
            type="number"
            name="nid"
            matInput
            formControlName="nid"
            placeholder="account no"
          />
          <mat-error *ngIf="nid && nid.invalid && nid.touched">
            <span *ngIf="nid.hasError('required')">account no is required</span>
            <span *ngIf="nid.hasError('min')">minimum 5 digit required</span>
            <span *ngIf="nid.hasError('max')">maximum 10 digit required</span>
          </mat-error>
        </mat-form-field>
        <br><br>

<!--        password-->
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input
            type="password"
            name="password"
            matInput
            formControlName="password"
            placeholder="password"
          />
          <mat-error *ngIf="password && password.invalid && password.touched">
            <span *ngIf="password.hasError('required')">password is required</span>
            <span *ngIf="password.hasError('minlength')">minimum 6 character required</span>
            <span *ngIf="password.hasError('maxlength')">maximum 10 character required</span>
          </mat-error>
        </mat-form-field>
        <br>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          Receiver bank info
        </ng-template>
        <br>

<!--        receiverNid-->
        <mat-form-field appearance="fill">
          <mat-label>Enter receiver account no</mat-label>
          <input
            type="number"
            name="receiverNid"
            matInput
            formControlName="receiverNid"
            placeholder="account no"
          />
          <mat-error *ngIf="receiverNid && receiverNid.invalid && receiverNid.touched">
            <span *ngIf="receiverNid.hasError('required')">account no is required</span>
            <span *ngIf="receiverNid.hasError('min')">minimum 5 digit required</span>
            <span *ngIf="receiverNid.hasError('max')">maximum 10 digit required</span>
          </mat-error>
        </mat-form-field>
        <br>

      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          Cash amount
        </ng-template>
        <br>

<!--        balance-->
        <mat-form-field appearance="fill">
          <mat-label>Enter cash amount</mat-label>
          <input
            type="number"
            name="balance"
            matInput
            formControlName="balance"
            placeholder="cash amount"
          />
          <mat-error *ngIf="balance && balance.invalid && balance.touched">
        <span *ngIf="balance.hasError('required')">
          balance is required
        </span>
            <span *ngIf="balance.hasError('min')">
          minimum 100 Tk required
        </span>
            <span *ngIf="balance.hasError('max')">
          maximum 100000000 Tk is required
        </span>
          </mat-error>
        </mat-form-field>
        <br><br>

<!--        submit button-->
        <button
          mat-raised-button
          type="button"
          (click)="onSubmit(sendMoneyForm.value)"
          [disabled]="sendMoneyForm.invalid"
          color="primary"
          >Send</button>


      </mat-step>
    </mat-vertical-stepper>
  </form>
</div>
<div class="failed" *ngIf="isFailed && feedbackMessage">
  <h1 align="center">Sending Failed.</h1>
  <h1 align="center">{{feedbackMessage}}</h1>
  <mat-divider></mat-divider>
  <br><br>
  <button
    mat-raised-button
    color="primary"
    (click)="refreshPage()">
    Try Again
  </button>
</div>
<div class="success" *ngIf="isSucceed && feedbackMessage">
  <h1 align="center">{{feedbackMessage}}</h1>
  <br>
  <mat-divider></mat-divider>
  <br><br>
  <button
    mat-raised-button
    color="primary"
    (click)="refreshPage()">
    Send Again
  </button>
</div>
